.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-top {
  margin-bottom: 20px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}
.social-icons a:hover{
  color: #EE4962;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.footer-section {
  max-width: 300px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}
