.container-hheader {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 0rem 6rem;
    width: 70vw;
    padding: 2rem;
    margin-left: 0rem;
}
.bg-color{
    background-color:#F4F2EB ;
    width: 100%;
    height:auto;
}

.heading-text-top {
    color: red;
}

.container-hheader img {
    display: flex;
    flex-direction: column;
    width: 39.875rem;
    height: 25rem;
    border-radius: 2rem 0rem 0rem 2rem;
    z-index: 2;
}

.Heading-text h1 {
    margin: 1.5rem;
}

.Heading-text {
    width: 38rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: #FFFFFE;
    z-index: 3;
    /* border: 2px solid red; */
    position: absolute;
    left: 39rem;

}
.conatiner-endhh{
    margin: 0;
}
.conatiner-endhh img{
    width: 100%;
    margin-top: -2rem;
}

@media (min-width:320px)and (max-width:932px) and (orientation: portrait){
   .bg-color{
    height: 80vh;
   }
    .container-hheader {
        margin: 0;
        margin-left: 0.1rem;
        width: auto;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-hheader img {
        width: 92vw;
        border-radius: 2rem;
        padding: 0.1rem;
        height: 18em;
    }

    .Heading-text {
        top: 20rem;
        left: 1.1rem;
        width: 92vw;
        height: 45vh;
    }
 

}

@media (min-width:768px)and (max-width:1024px) and (orientation:landscape) {
    .bg-color{
        height: 40vh;
       }
        .container-hheader {
            margin: 0;
            margin-left: 0.1rem;
            width: auto;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .container-hheader img {
            width:35rem;
        border-radius: 2rem;
        left:6rem;
        position: absolute;
        height: 45vh;
        }
    
        .Heading-text {
            left: 36rem;
            width: 39vw;
            height: 45vh;
    
}}
@media (min-width:768px)and (max-width:1024px) and (orientation: portrait) {
    .bg-color{
        height: 36vh;
       }
        .container-hheader {
            margin: 0;
            margin-left: 0.1rem;
            width: auto;
            height: 70vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .container-hheader img {
            width:25rem;
        border-radius: 2rem;
        left:3rem;
        position: absolute;
        height: 30vh;
        }
    
        .Heading-text {
            left: 25rem;
            width: 43vw;
            height: 30vh;
        }
    .conatiner-endhh{
      margin-top: -26em;
    }    
   
}
/* @media (min-width:800px)and (max-width:1180px) and (orientation:landscape) {
    .bg-color{
        height: 41vw;
    }
    
} */