.Home-ec{
    margin-top: 0rem;
}
.Home-ec h1{
    text-align: center;
    color: #1DB89D;
    font-weight: 900;
    font-size: 5em ;
}
.hcourse-details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.hcourse-details img{
    padding: 1.5rem;
    width:28vw;
}
@media (min-width:320px)and (max-width:767px) {
    .hcourse-details img{
        width: 90vw;
        padding: 1rem;
    }
    .Home-ec h1{
        font-size: 2.4rem;
    }
}
@media (min-width:768px)and (max-width:1024px) and (orientation:landscape) {
.Home-ec h1{
    margin-top:6rem ;
}
}
@media (min-width:768px)and (max-width:1024px) and (orientation: portrait) {
  .hcourse-details img{
    width: 43vw;
  }
  .Home-ec h1{
margin-top: 4rem;
  }
}