.bg-white {
    background-color: #fff !important;
}
.nav{
    padding: 0 3rem;
}
.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0rem 2rem;
    position: sticky;
}
.nav-end{
    display: flex;
    justify-content: flex-end;
}

.navbar-logo {
    padding: 0.7rem;
}
.navbar-logo img{
    width: 30%;
}

.navbar-links {
    display: flex;
    /* flex-shrink: 1;  */
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -10rem;
    margin-right: 12rem;
}

.navbar-links ul {
    display: flex;
    margin: 0; 
    padding: 0;
}

.navbar-links li {
    list-style: none;
    margin: 1.5rem; 
}

.navbar-links a {
    text-decoration: none;
    color: #313a6c;
    font-weight: 500;
}

.navbar-links a:hover {
    /* color: rgba(180, 128, 24, 0.773); */ 
    color: rgb(213, 19, 19);
    /* text-decoration: overline; */
}
.nav-button button{
    height: 2rem;
    width: 7rem;
    color:white ;
     background: linear-gradient(85.44deg, #1CB79D 50%, #2AB982 100%);

}

@media screen and (max-width: 800px) {
    .navbar-links {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }}